:root{
  --primary:#2563eb;
  --secondary:#7c3aed;
  --success:#22c55e;
  --dark:#0f172a;
  --light:#ffffff;
  --bg:#f5f7fb;
  --text:#222;
}

body{
  background:var(--bg);
  color:var(--text);
  transition:.3s;
}

.dark-mode{
  --bg:#0f172a;
  --text:#ffffff;
  --light:#1e293b;
}

.btn-primary{
  background:var(--primary);
  color:#fff;
  padding:14px 30px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.btn-primary:hover{
  background:#1d4ed8;
}
